:root {
    --flame: #E4572E;
    --verdigris: #17BEBB;
    --jonquil: #FFC914;
    --raisin-black: #2E282A;
    --kelly-green: #43B041;
    --dark-kelly-green: #348f32;
    --hard-dark-kelly-green: #1c691b;
    --dark-flame: #c04823;
    --hard-dark-flame: #973111;
}